.jumbotron {
  background-color: #ebf4fa;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 51rem;
}



.info_normal {
  background-color: #dfdfdf;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
  width: 60%;
  border: 2px solid #696969;
  border-radius: 5px;
  font-size: 20px;
  padding: 0 20px;
}

.info_normal:hover {
    background-color: #cfcfcf;
}

.info_normal h1{
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
}

.info_normal h2{
  font-size: 15px;
  text-align: right;
  padding: 10px;
}


a, a:hover{
text-decoration: none;
display: block;
}

.pagination{
display:block;
margin-left: auto;
margin-right: auto;
text-align: center;
}
